@model Capstone.Web.Models.Park

@{
    ViewData["Title"] = "Detail";
}


<div>
    <img class="detail-image" src="~/img/parks/@(Model.ParkCode).jpg" alt="Park picture">
</div>

<h2 class="strong">@Html.DisplayFor(model => model.ParkName)</h2>
<hr />
<div class="quote-grid">
    <p class="quote">
        "@Model.InspirationalQuote"
    </p>

    <p class="quote-source">
        &mdash;@Model.InspirationalQuoteSource
    </p>
    <hr />
</div>

<p>@Model.ParkDescription</p>

<ul>
    <li>Located in @Model.State, @Model.ParkName boasts @Model.Acreage.ToString("N0") acres in a @Model.Climate.ToLower() climate. Founded in @Model.YearFounded, @Model.AnnualVisitorCount.ToString("N0") people visit this park every year!</li>
    <li>Come see our @Model.NumberOfAnimalSpecies unique animals along @Model.MilesOfTrail miles of trail. The park rises to an elevation of @Model.ElevationOfFeet feet.</li>

    @if (Model.NumberOfCampsites == 0)
    {
        <li>There is no camping at @(Model.ParkName).</li>
    }
    else
    {
        <li>Come camp in one of our @Model.NumberOfCampsites campsites!</li>
    }

    @if (Model.EntryFee == 0)
    {
        <li>Entrance to the park is free!</li>
    }
    else
    {
        //C IS FOR  $ AND 2 FOR TWO DECIMAL PTS
        <li>Entry to the park is only @(Model.EntryFee.ToString("C2")).</li>
    }
</ul>



<h3 class="strong">Five Day Weather Forecast</h3>
<div class="weather">
    @foreach (Weather weather in Model.Forecast)
    {
        <div class="weather-item">
            <div>
                @if (weather.FiveDayForecastValue == 1)
                {
                    <h4 class="strong">Today's Weather</h4>
                }
                @if (weather.FiveDayForecastValue == 2)
                {
                    <h4 class="strong">Tommorow's Weather</h4>
                }
                @if (weather.FiveDayForecastValue > 2)
                {
                    <h4 class="strong">Weather @(weather.FiveDayForecastValue) days from today</h4>
                }
            </div>
            <div>
                <img class="weather-image" src="~/img/weather/@weather.WeatherImage" alt="@weather.WeatherImage" />
            </div>
            <div>
                <p>
                    @weather.FullForecastMsg
                    <br />
                    @if (Model.IsCelsius == 1)
                    {
                        //&#176 is the html for the degree sign
                        <span><strong>Low </strong>@weather.TempConvert(weather.Low).ToString("N0")&#176;C</span>

                        <span><strong>High </strong>@weather.TempConvert(weather.High).ToString("N0")&#176;C</span>
                    }
                    else
                    {
                        <span><strong>Low </strong>@weather.Low&#176;F</span>

                        <span><strong>High </strong>@weather.High&#176;F</span>
                    }
                </p>
            </div>
        </div>
    }
</div>
@*Session data: sends IsCelsius for a value of 0 or 1 and that is what we interpret in the controller*@
<form asp-action="Detail" asp-route-parkCode="@Model.ParkCode">
    <button name="IsCelsius" type="submit" value="0">Fahrenheit</button>
    <button name="IsCelsius" type="submit" value="1">Celsius</button>
</form>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
