@model Capstone.Web.Models.Park

@{
    ViewData["Title"] = "Detail";
}

<div>
    <div class="container">
        <div>
            <img class="detail-image" src="~/img/parks/@(Model.ParkCode).jpg" alt="Park picture">
        </div>

        <h2 class="strong">@Html.DisplayFor(model => model.ParkName)</h2>
        <hr />
            <div class="quote-grid">
                <p class="quote">
                    "@Model.InspirationalQuote"
                </p>

                <p class="quote-source">
                    &mdash;@Model.InspirationalQuoteSource
                </p>
            </div>
            <p>Located in @Model.State, @Model.ParkName boasts @Model.Acreage.ToString("N0") acres in a @Model.Climate.ToLower() climate. Founded in @Model.YearFounded, @Model.AnnualVisitorCount.ToString("N0") people visit this park every year!</p>
            <p>Come see our @Model.NumberOfAnimalSpecies unique animals along @Model.MilesOfTrail miles of trail. The park rises to an elevation of @Model.ElevationOfFeet feet.</p>

            @if (Model.NumberOfCampsites == 0)
            {
                <p>There is no camping at @(Model.ParkName).</p>
            }
            else
            {
                <p>Come camp in one of our @Model.NumberOfCampsites campsites!</p>
            }

            @if (Model.EntryFee == 0)
            {
                <p>Entrance to the park is free!</p>
            }
            else
            {
                <p>Entry to the park is only @(Model.EntryFee.ToString("C2")).</p>
            }

            <p>@Model.ParkDescription</p>

    </div>


    <h3 class="strong">Five Day Weather Forecast</h3>
    <div class="weather">
        @foreach (Weather weather in Model.Forecast)
        {
            <div class="weather-item">
                <div>
                    @if (weather.FiveDayForecastValue == 1)
                    {
                        <h4 class="strong">Today's Weather</h4>
                    }
                    @if (weather.FiveDayForecastValue == 2)
                    {
                        <h4 class="strong">Tommorow's Weather</h4>
                    }
                    @if (weather.FiveDayForecastValue > 2)
                    {
                        <h4 class="strong">Weather @(weather.FiveDayForecastValue) days from today.</h4>
                    }
                </div>
                <div>
                    <img src="~/img/weather/@weather.WeatherImage" alt="@weather.WeatherImage" />
                </div>
                <div>
                    <p>
                        @weather.FullForecastMsg
                        <br />
                        @if (Model.IsCelsius == 1)
                        {
                            <span><strong>Low </strong>@weather.TempConvert(weather.Low).ToString("N2")&#176;C</span>

                            <span><strong>High </strong>@weather.TempConvert(weather.High).ToString("N2")&#176;C</span>
                        }
                        else
                        {
                            <span><strong>Low </strong>@weather.Low&#176;F</span>

                            <span><strong>High </strong>@weather.High&#176;F</span>
                        }
                    </p>
                </div>
            </div>
        }
    </div>

    <form asp-action="Detail" asp-route-parkCode="@Model.ParkCode">
        <button name="IsCelsius" type="submit" value="0">Fahrenheit</button>
        <button name="IsCelsius" type="submit" value="1">Celsius</button>
    </form>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
